/*
 * 
 *
 */
/* line 10, ../sass/demo-fecal-point.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 45, ../../sass/focal-point/_fecal-point.scss */
.focal-point {
  width: 100%;
  height: 0;
  overflow: hidden;
}

/* line 51, ../../sass/focal-point/_fecal-point.scss */
.focal-point img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: block;
}

/* line 59, ../../sass/focal-point/_fecal-point.scss */
.focal-point div {
  position: relative;
  max-width: none;
  height: auto;
}

/* line 65, ../../sass/focal-point/_fecal-point.scss */
.focal-point div {
  margin: -3em -4em;
}

/* line 69, ../../sass/focal-point/_fecal-point.scss */
.portrait.focal-point div {
  margin: -4em -3em;
}

/* line 94, ../../sass/focal-point/_fecal-point.scss */
.down-1 div {
  margin-top: -3.5em;
  margin-bottom: -2.5em;
}

/* line 99, ../../sass/focal-point/_fecal-point.scss */
.up-1 div {
  margin-top: -2.5em;
  margin-bottom: -3.5em;
}

/* line 104, ../../sass/focal-point/_fecal-point.scss */
.right-1 div {
  margin-left: -4.66667em;
  margin-right: -3.33333em;
}

/* line 109, ../../sass/focal-point/_fecal-point.scss */
.left-1 div {
  margin-left: -3.33333em;
  margin-right: -4.66667em;
}

/* line 122, ../../sass/focal-point/_fecal-point.scss */
.portrait.down-1 div {
  margin-top: -4.66667em;
  margin-bottom: -3.33333em;
}

/* line 127, ../../sass/focal-point/_fecal-point.scss */
.portrait.up-1 div {
  margin-top: -3.33333em;
  margin-bottom: -4.66667em;
}

/* line 132, ../../sass/focal-point/_fecal-point.scss */
.portrait.right-1 div {
  margin-left: -3.5em;
  margin-right: -2.5em;
}

/* line 137, ../../sass/focal-point/_fecal-point.scss */
.portrait.left-1 div {
  margin-left: -2.5em;
  margin-right: -3.5em;
}

/* line 94, ../../sass/focal-point/_fecal-point.scss */
.down-2 div {
  margin-top: -4em;
  margin-bottom: -2em;
}

/* line 99, ../../sass/focal-point/_fecal-point.scss */
.up-2 div {
  margin-top: -2em;
  margin-bottom: -4em;
}

/* line 104, ../../sass/focal-point/_fecal-point.scss */
.right-2 div {
  margin-left: -5.33333em;
  margin-right: -2.66667em;
}

/* line 109, ../../sass/focal-point/_fecal-point.scss */
.left-2 div {
  margin-left: -2.66667em;
  margin-right: -5.33333em;
}

/* line 122, ../../sass/focal-point/_fecal-point.scss */
.portrait.down-2 div {
  margin-top: -5.33333em;
  margin-bottom: -2.66667em;
}

/* line 127, ../../sass/focal-point/_fecal-point.scss */
.portrait.up-2 div {
  margin-top: -2.66667em;
  margin-bottom: -5.33333em;
}

/* line 132, ../../sass/focal-point/_fecal-point.scss */
.portrait.right-2 div {
  margin-left: -4em;
  margin-right: -2em;
}

/* line 137, ../../sass/focal-point/_fecal-point.scss */
.portrait.left-2 div {
  margin-left: -2em;
  margin-right: -4em;
}

/* line 94, ../../sass/focal-point/_fecal-point.scss */
.down-3 div {
  margin-top: -4.5em;
  margin-bottom: -1.5em;
}

/* line 99, ../../sass/focal-point/_fecal-point.scss */
.up-3 div {
  margin-top: -1.5em;
  margin-bottom: -4.5em;
}

/* line 104, ../../sass/focal-point/_fecal-point.scss */
.right-3 div {
  margin-left: -6em;
  margin-right: -2em;
}

/* line 109, ../../sass/focal-point/_fecal-point.scss */
.left-3 div {
  margin-left: -2em;
  margin-right: -6em;
}

/* line 122, ../../sass/focal-point/_fecal-point.scss */
.portrait.down-3 div {
  margin-top: -6em;
  margin-bottom: -2em;
}

/* line 127, ../../sass/focal-point/_fecal-point.scss */
.portrait.up-3 div {
  margin-top: -2em;
  margin-bottom: -6em;
}

/* line 132, ../../sass/focal-point/_fecal-point.scss */
.portrait.right-3 div {
  margin-left: -4.5em;
  margin-right: -1.5em;
}

/* line 137, ../../sass/focal-point/_fecal-point.scss */
.portrait.left-3 div {
  margin-left: -1.5em;
  margin-right: -4.5em;
}

/* line 94, ../../sass/focal-point/_fecal-point.scss */
.down-4 div {
  margin-top: -5em;
  margin-bottom: -1em;
}

/* line 99, ../../sass/focal-point/_fecal-point.scss */
.up-4 div {
  margin-top: -1em;
  margin-bottom: -5em;
}

/* line 104, ../../sass/focal-point/_fecal-point.scss */
.right-4 div {
  margin-left: -6.66667em;
  margin-right: -1.33333em;
}

/* line 109, ../../sass/focal-point/_fecal-point.scss */
.left-4 div {
  margin-left: -1.33333em;
  margin-right: -6.66667em;
}

/* line 122, ../../sass/focal-point/_fecal-point.scss */
.portrait.down-4 div {
  margin-top: -6.66667em;
  margin-bottom: -1.33333em;
}

/* line 127, ../../sass/focal-point/_fecal-point.scss */
.portrait.up-4 div {
  margin-top: -1.33333em;
  margin-bottom: -6.66667em;
}

/* line 132, ../../sass/focal-point/_fecal-point.scss */
.portrait.right-4 div {
  margin-left: -5em;
  margin-right: -1em;
}

/* line 137, ../../sass/focal-point/_fecal-point.scss */
.portrait.left-4 div {
  margin-left: -1em;
  margin-right: -5em;
}

/* line 94, ../../sass/focal-point/_fecal-point.scss */
.down-5 div {
  margin-top: -5.5em;
  margin-bottom: -0.5em;
}

/* line 99, ../../sass/focal-point/_fecal-point.scss */
.up-5 div {
  margin-top: -0.5em;
  margin-bottom: -5.5em;
}

/* line 104, ../../sass/focal-point/_fecal-point.scss */
.right-5 div {
  margin-left: -7.33333em;
  margin-right: -0.66667em;
}

/* line 109, ../../sass/focal-point/_fecal-point.scss */
.left-5 div {
  margin-left: -0.66667em;
  margin-right: -7.33333em;
}

/* line 122, ../../sass/focal-point/_fecal-point.scss */
.portrait.down-5 div {
  margin-top: -7.33333em;
  margin-bottom: -0.66667em;
}

/* line 127, ../../sass/focal-point/_fecal-point.scss */
.portrait.up-5 div {
  margin-top: -0.66667em;
  margin-bottom: -7.33333em;
}

/* line 132, ../../sass/focal-point/_fecal-point.scss */
.portrait.right-5 div {
  margin-left: -5.5em;
  margin-right: -0.5em;
}

/* line 137, ../../sass/focal-point/_fecal-point.scss */
.portrait.left-5 div {
  margin-left: -0.5em;
  margin-right: -5.5em;
}

/* line 94, ../../sass/focal-point/_fecal-point.scss */
.down-6 div {
  margin-top: -6em;
  margin-bottom: -0em;
}

/* line 99, ../../sass/focal-point/_fecal-point.scss */
.up-6 div {
  margin-top: -0em;
  margin-bottom: -6em;
}

/* line 104, ../../sass/focal-point/_fecal-point.scss */
.right-6 div {
  margin-left: -8em;
  margin-right: -0em;
}

/* line 109, ../../sass/focal-point/_fecal-point.scss */
.left-6 div {
  margin-left: -0em;
  margin-right: -8em;
}

/* line 122, ../../sass/focal-point/_fecal-point.scss */
.portrait.down-6 div {
  margin-top: -8em;
  margin-bottom: -0em;
}

/* line 127, ../../sass/focal-point/_fecal-point.scss */
.portrait.up-6 div {
  margin-top: -0em;
  margin-bottom: -8em;
}

/* line 132, ../../sass/focal-point/_fecal-point.scss */
.portrait.right-6 div {
  margin-left: -6em;
  margin-right: -0em;
}

/* line 137, ../../sass/focal-point/_fecal-point.scss */
.portrait.left-6 div {
  margin-left: -0em;
  margin-right: -6em;
}

/* line 145, ../../sass/focal-point/_fecal-point.scss */
.aratio-4-3 {
  padding-bottom: 75%;
}

/* line 149, ../../sass/focal-point/_fecal-point.scss */
.aratio-3-4 {
  padding-bottom: 133.33%;
}

/* line 8, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-centered {
  float: none;
  margin: 0 auto;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
[class*='col-'] {
  float: left;
  /* gutters */
  padding: 0px;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1 {
  width: 100%;
}

/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1-2 {
  width: 50%;
}
/* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1-2:nth-child(2n+1) {
  clear: both;
}

/* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1-3 {
  width: 33.33333%;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1-3:nth-child(3n+1) {
  clear: both;
}

/* line 43, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-2-3 {
  width: 66.66666%;
}

/* line 47, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1-4 {
  width: 25%;
}
/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1-4:nth-child(4n+1) {
  clear: both;
}

/* line 54, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-3-4 {
  width: 75%;
}

/* line 58, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1-5 {
  width: 20%;
}

/* line 62, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-2-5 {
  width: 40%;
}

/* line 66, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-3-5 {
  width: 60%;
}

/* line 70, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-4-5 {
  width: 80%;
}

/* line 74, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1-6 {
  width: 16.656%;
}

/* line 78, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-5-6 {
  width: 83.33%;
}

/* line 82, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 86, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-3-8 {
  width: 37.5%;
}

/* line 90, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-5-8 {
  width: 62.5%;
}

/* line 94, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-7-8 {
  width: 87.5%;
}

/* line 98, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1-12 {
  width: 8.3333%;
}

/* line 102, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-5-12 {
  width: 41.6666%;
}

/* line 106, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-7-12 {
  width: 58.3333%;
}

/* line 110, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-11-12 {
  width: 91.6666%;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-1-24 {
  width: 4.1666%;
}

/* line 118, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-5-24 {
  width: 20.8333%;
}

/* line 122, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-7-24 {
  width: 29.1666%;
}

/* line 126, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-11-24 {
  width: 45.8333%;
}

/* line 130, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-13-24 {
  width: 54.1666%;
}

/* line 134, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-17-24 {
  width: 70.8333%;
}

/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-19-24 {
  width: 79.1666%;
}

/* line 142, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
.col-23-24 {
  width: 95.8333%;
}

@media only screen and (min-width: 640px) {
  /* line 8, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-grid:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-centered {
    float: none;
    margin: 0 auto;
  }

  /* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  [class*='i3-col-'] {
    float: left;
    /* gutters */
    padding: 10px;
  }

  /* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1 {
    width: 100%;
  }

  /* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1-2 {
    width: 50%;
  }
  /* line 31, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1-2:nth-child(2n+1) {
    clear: both;
  }

  /* line 36, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1-3 {
    width: 33.33333%;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1-3:nth-child(3n+1) {
    clear: both;
  }

  /* line 43, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-2-3 {
    width: 66.66666%;
  }

  /* line 47, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1-4 {
    width: 25%;
  }
  /* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1-4:nth-child(4n+1) {
    clear: both;
  }

  /* line 54, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-3-4 {
    width: 75%;
  }

  /* line 58, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1-5 {
    width: 20%;
  }

  /* line 62, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-2-5 {
    width: 40%;
  }

  /* line 66, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-3-5 {
    width: 60%;
  }

  /* line 70, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-4-5 {
    width: 80%;
  }

  /* line 74, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1-6 {
    width: 16.656%;
  }

  /* line 78, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-5-6 {
    width: 83.33%;
  }

  /* line 82, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1-8 {
    width: 12.5%;
  }

  /* line 86, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-3-8 {
    width: 37.5%;
  }

  /* line 90, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-5-8 {
    width: 62.5%;
  }

  /* line 94, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-7-8 {
    width: 87.5%;
  }

  /* line 98, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1-12 {
    width: 8.3333%;
  }

  /* line 102, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-5-12 {
    width: 41.6666%;
  }

  /* line 106, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-7-12 {
    width: 58.3333%;
  }

  /* line 110, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-11-12 {
    width: 91.6666%;
  }

  /* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-1-24 {
    width: 4.1666%;
  }

  /* line 118, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-5-24 {
    width: 20.8333%;
  }

  /* line 122, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-7-24 {
    width: 29.1666%;
  }

  /* line 126, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-11-24 {
    width: 45.8333%;
  }

  /* line 130, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-13-24 {
    width: 54.1666%;
  }

  /* line 134, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-17-24 {
    width: 70.8333%;
  }

  /* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-19-24 {
    width: 79.1666%;
  }

  /* line 142, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/css-grids-0.0.0/scss/css-grids/grid-simple/_grid.scss */
  .i3-col-23-24 {
    width: 95.8333%;
  }
}
/* line 22, ../sass/demo-fecal-point.scss */
.focal-point {
  font-size: 0;
}
@media only screen and (max-width: 320px) {
  /* line 22, ../sass/demo-fecal-point.scss */
  .focal-point {
    font-size: 40px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  /* line 22, ../sass/demo-fecal-point.scss */
  .focal-point {
    font-size: 20px;
  }
}
@media only screen and (min-width: 479px) and (max-width: 640px) {
  /* line 22, ../sass/demo-fecal-point.scss */
  .focal-point {
    font-size: 0px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 768px) {
  /* line 22, ../sass/demo-fecal-point.scss */
  .focal-point {
    font-size: 40px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 960px) {
  /* line 22, ../sass/demo-fecal-point.scss */
  .focal-point {
    font-size: 20px;
  }
}
@media only screen and (min-width: 961px) {
  /* line 22, ../sass/demo-fecal-point.scss */
  .focal-point {
    font-size: 0px;
  }
}

/* line 47, ../sass/demo-fecal-point.scss */
.post {
  margin: 20px 0;
}

/* line 51, ../sass/demo-fecal-point.scss */
.post__title {
  background: #fac81e;
  padding: 10px 7px;
}

/* line 56, ../sass/demo-fecal-point.scss */
.post__text {
  margin-top: 15px;
  background: #2864fa;
}

/* line 61, ../sass/demo-fecal-point.scss */
.post__image {
  max-width: 640px;
  margin: 0 auto;
}
