@import "compass";
@import "focal-point/focal-point";


*, *:after, *:before {
    @include box-sizing(border-box);
}

@include focal-point();

.focal-point {
    @media only screen and ( min-width: 640px ) { 
        font-size: 0px;
    }
}

h1 {
    background: rgb(250, 200, 30);
    padding: 10px;
    font-size: 18px;
}

p {
    background: rgb(40, 100, 230);
}

.focal-point {
    height: 0;
    padding-bottom: 75%;
    background: hsl(240, 100%, 60%);
}

.wrap {
    max-width: 640px;
    margin: 0 auto;
}